# Python

**pycache**/
*.pyc
*.pyo
*.pyd

# Virtual Environment

.venv/
venv/

# macOS

.DS_Store

# Jupyter

.ipynb_checkpoints/

# VS Code

.vscode/

# Build

build/
dist/
*.egg-info/

# Benchmark outputs

*.log
*.csv
